.json filter=lfs diff=lfs merge=lfs -text
Programming/1/HW3opt/test_random.json filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.r filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.name filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.prof filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.boh filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/2-d[[:space:]]array[[:space:]]print[[:space:]]trace filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/check[[:space:]]loop[[:space:]]or[[:space:]]not filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/count[[:space:]]y[[:space:]]linked[[:space:]]list[[:space:]]recu filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/exercises[[:space:]]using[[:space:]]timings[[:space:]]and[[:space:]]hit[[:space:]]and[[:space:]]miss filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/height[[:space:]]of[[:space:]]binary[[:space:]]tree filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/invert[[:space:]]list[[:space:]]rec filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/midterm[[:space:]]2[[:space:]]2nd[[:space:]]ex filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/midterm[[:space:]]2nd[[:space:]]ex filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/midterm[[:space:]]3[[:space:]]program[[:space:]]ex filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/midterm[[:space:]]mock[[:space:]]count[[:space:]]item[[:space:]]interval filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/paralellism[[:space:]]and[[:space:]]timings filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/revisao[[:space:]]prova[[:space:]]1 filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/revisao[[:space:]]prova[[:space:]]3 filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/revisao[[:space:]]prova[[:space:]]4 filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/revisao[[:space:]]prova[[:space:]]5 filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/revisao[[:space:]]prova[[:space:]]6 filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/sort[[:space:]]1[[:space:]]sort[[:space:]]0 filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/sum[[:space:]]array[[:space:]]2d filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/sum[[:space:]]enary[[:space:]]tree filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/sum[[:space:]]of[[:space:]]column[[:space:]]max filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/tree[[:space:]]and[[:space:]]forests[[:space:]]height filter=lfs diff=lfs merge=lfs -text
/Programming/COMP[[:space:]]ARCH[[:space:]]RARS/two[[:space:]]arrays[[:space:]]print[[:space:]]if[[:space:]]they[[:space:]]have[[:space:]]the[[:space:]]sae[[:space:]]number[[:space:]]in[[:space:]]the[[:space:]]same[[:space:]]order filter=lfs diff=lfs merge=lfs -text
